<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>Koa Blog</title>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/editor.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav id="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/posts/list/">Posts</a></li>
                <li><a href="/about/">About Me</a></li>
                <% if (session.user) { %>
                <li><a href="/write/">Write</a></li>
                <% } %>
            </ul>
        </nav>
    </header>
